$dark-teal: #1a3a45;
$medium-blue: #1b5c7a;
$light-grey: #e1dede;
$orange: #ec670b;
$red: #b5311e;
$white: #ffffff;
$black: #000000;

$bright-blue: #1771DE;
$aqua: #4FBCC6;
$mint: #A6C6AD;
$yellow: #D3D495;